<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class='messages'>
        <% JSON.stringify(messages) %>
        <% if(messages.quote) { %>
            <% for (var x of messages.quote) { %>
             <h3><%= x %></h3>
            <% } %>
        <% } %>
    </div>

    <div id="myform">
        <h1>Welcome, Here you can add a mongoose!</h1>
        <form action="/add" method="POST">
            <label for="name">Mongoose Name: </label>
            <input type="text" name="name">
            <label for="age">Age: </label>
            <input type="text" name="age">
            <label for="favfood">Favorite Food: </label>
            <input type="text" name="favfood">
            <input type="submit", value="Add Mongoose">
        </form>
    </div>
</body>
</html>